@import "../node_modules/@cac/react-utils/dist/DatePicker.css";
@import "tailwindcss";
@source "../node_modules/@cac/react-utils";

@plugin "daisyui" {
  themes: dark --default, light --prefersdark;
}